* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o footer fique na parte inferior */
}

header {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    z-index: 1000;
}

nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ddd;
}


h1 {
    margin: 0;
}

main {
    margin-top: 60px; /* Para evitar que o conteúdo fique embaixo do header fixo */
    flex: 1; /* Faz o main ocupar o espaço restante da tela */
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.imagem {
    width: 510px; /* Define a largura da imagem para 50% da largura da viewport */
    height: 300px; /* Define a altura da imagem para 50% da altura da viewport */
    object-fit: cover; /* Mantém o aspecto da imagem e a corta se necessário para preencher */
    display: block; /* Garante que a imagem fique em uma nova linha */
    margin: 0; /* Remove margens ao redor da imagem */
    padding: 10px;
}

.elementos {
    width: 200px; /* Define a largura fixa da imagem */
    height: 100px; /* Define a altura fixa da imagem */
    object-fit: contain; /* Mantém a proporção da imagem, sem cortá-la */
    display: flexbox;
    margin: 0; /* Remove margens ao redor da imagem */
    padding: 10px;
}

.social-icons {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px; /* Tamanho dos ícones */
}

.social-icons a:hover {
    color: #ddd; /* Cor ao passar o mouse */
}
